<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <!-- placeholder -->
        </header>
        <main>
            {{content}}
        </main>
        <footer>
            <!-- placeholder -->
        </footer>
    </body>
</html>