{% load staticfiles %}
<html>
    <head>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 	 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-82837553-1', 'auto');
	  ga('send', 'pageview');

	</script>
        <title>Okemos Action - {% block title %}{% endblock %}</title>
        <link href='https://fonts.googleapis.com/css?family=Exo+2:400,700' rel='stylesheet' type='text/css'>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" async></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" async></script>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.1/bootstrap-social.min.css">
        <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}"/>
        <script src="{% static 'events/main.js' %}" async></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="{% static 'events/favicon2.png' %}"/>

    </head>
    <body>
        <header  style="width:100%">
            <nav role="navigation" class="navbar navbar-inverse">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href= "/" class="navbar-brand">Okemos Action</a>
                </div>
                <!-- Collection of nav links and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user and not user.is_anonymous %}
                            <li><a href="#">Welcome, {{ user.get_full_name|default:user.username }}!</a></li>
                            {% if user and user.is_staff %}
                                <li><a href="/admin">Staff Page</a></li>
                            {% endif %}
                            <li><a href="{% url 'auth:logout' %}?next=/">Log Out</a></li>
                        {% else %}
                            <li><span><a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.build_absolute_uri }}{{ object.get_absolute_url }}" class="btn btn-block btn-social btn-google"><i class="fa fa-google"></i>Sign in with Google</a></span></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav nav-tabs navbar-&#x2192;">
                        <li class="active"><a data-toggle="tab" href="#home"><strong>{% block pagename %}{% endblock %}</strong></a></li>
                        <li><a data-toggle="tab" href="#calendar">Calendar</a></li>
                        <!-- <li><a href="{% url 'events:photos' %}">Photos</a></li> -->
                        {% if user and user.is_staff %}
                            <li><a data-toggle="tab" href="#count">Attendance</a></li>
                        {% endif %}
                        <li><a href="{%url 'events:photos' %}">Photos</a></li>
                        <li><a data-toggle="tab" href="#about">About Us</a></li>
                        <li><a data-toggle="tab" href="#contact">Contact</a></li>
                    </ul>
                </div>
             </nav>
        </header>
        <main class="container-fluid">
            <div id="banner"><img id="bannerImg" src="/static/events/images/ActionBanner.png"/></div>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    {% block content %}{% endblock %}
                </div>
                <div id="calendar" class="tab-pane fade">
                     <div class="center">
                         <iframe src="https://calendar.google.com/calendar/embed?title=Events&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=k5nl2ku315dpep6c8ib0qolrl8%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=America%2FNew_York" style="border:solid 1px #777" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                    </div>
                </div>
                <div id="about" class="tab-pane fade">
                    <p>{% lorem %}</p>
                </div>
                <div id="contact" class="tab-pane fade">
                    
                    <h3>Remind 101:</h3> <p>Text @generalmem to 81010 to join our ACTION member remind101</p>
                    
                    <h3>Facebook:</h3> <p>Join <a href="https://www.facebook.com/groups/action.okemos/">Okemos ACTION on Facebook</a> to see photos and upcoming events</p>
                    
                    <h3>Email:</h3> <p><a href="mailto:action.okemos@gmail.com">action.okemos@gmail.com</a></p>
                    <address>
                    <p><b>PHYSICAL ADDRESS:</b> <br/>
                        2800 Jolly Road <br/>
                        Okemos, MI <br/>
                        Room B218 <br/>
                    </p>
                    </address>
                </div>
                <div id="count" class="tab-pane fade">
                    {% if user and user.is_staff %}
                        <h2 class="center">User Attendance</h2>
                        <div class="col-xs-12">
                            <table class="table">
                              <th><u>Number of events attended by users:</u></th>
                                  {% for user in users %}
                                    <tr>
                                        <td>
                                          {{user.get_full_name}}
                                        </td>
                                        <td>
                                            {{counter.zero}}
                                            {% for event in events_ %}
                                                {% if user in event.attending %}
                                                    {{counter.increment}}
                                                {% endif %}
                                            {% endfor %}
                                            {{counter.get_count}}
                                        </td>
                                        <td><p>
                                            {% if user.is_staff %}
                                                {{counter.zero}}
                                                {% for event in events_ %}
                                                    {% if user in event.captain_list %}
                                                        {{counter.increment}}
                                                    {% endif %}
                                                {% endfor %}
                                                Events Captained:
                                                <td>{{counter.get_count}}</td>
                                            {% else %}
                                            Not a Captain
                                            <td></td>
                                            {% endif %}
                                        <p></td>
                                        <td><p>Events missed:</p></td>
                                        <td>
                                            {{counter.zero}}
                                            {% for event in events_ %}
                                                {% if user in event.missed %}
                                                    {{counter.increment}}
                                                {% endif %}
                                            {% endfor %}
                                            {{counter.get_count}}
                                            
                                        </td>
                                    </tr>
                                  {% endfor %}
                            </table> 
                        </div>
                    {% endif %}
                </div>
                <!--<div id="photos" class="tab-pane fade">
                    {% for event in events_ %}
                        {% for image in event.image_set.all %}
                          <div class = "col-xs-12 col-sm-6 col-md-4">
                            <h3 class="fixed-info">{{event.name}}</h3>
                            <img src="{{image.image.url}}" class="detImg"/>
                            <h4 class="fixed-info">{{image.caption}}</h4>
                          </div>
                        {% endfor %}
                    {% endfor %}
                </div>-->
            </div>
        </main>
        <footer>
            <span style="font-size:24px, font-weight: bold">Keep Updated</span>
            <ul class="share-buttons">
                <li><span><a href="https://www.facebook.com/groups/action.okemos/" class="btn btn-social btn-facebook"><i class="fa fa-facebook"></i>ACTION on Facebook</a></span></li>
                <li><span><a href="https://twitter.com/OkemosACTION" class="btn btn-social btn-twitter"><i class="fa fa-twitter"></i>ACTION on Twitter</a></span></li>
            </ul>
        </footer>
    </body>
</html>
