{% comment %} # requires context: event and user 
This is the block of code that handles all of the attendance HTML: Drop this in where you want an attend button set.
{% endcomment %}
    {% if user and not user.is_anonymous %}
        {% if not user in event.signed_up.all %}
          {% if event.signed_up.count < event.max_attendees %}
            <div style="width:150px" class=".TxtArea{{event.id}} collapse in" id="vanish{{event.id}}"><a href="#" class="btn btn-success" role="button" aria-label="Attend Event" data-toggle="collapse" data-target=".TxtArea{{event.id}}, #vanish{{event.id}}">Attend Event</a></div>
            {% include "events/attend.html" with event=event user=user %}
        {% else %}
            {% include 'events/leave.html' with event=event user=user %}      
        {% endif %}  
    {% else %}
      {% if event.signed_up.count > event.min_attendees or not event.locked %}
        {% include 'events/leave.html' with event=event user=user %}
      {% else %}
        {% include 'events/leave.html' with event=event user=user %}
      {% endif %}
    {% endif %}

