{% comment %} # requires context: event, M(obile) and user {% endcomment %}

<form action="{% url 'events:attendEvent' %}" method="POST">
    {% csrf_token %}
    <div class="form-group collapse TxtArea{{M}}{{event.id}}">
        <input type="hidden" name="user" value="{{user.id}}"/>
        <input type="hidden" name="event_" value="{{event.id}}"/>
        <p>There are currently {{event.signed_up.count}} users who want to attend this event. If that number becomes {{event.min_attendees}} or below, 
        then you will be locked into this event past {{event.lock_date}}.</p>
        <label>Comment (Optional):</label>
        <textarea class="form-control" name="info" rows="5" placeholder="10000 character limit"></textarea>
        <div class="btn-group" role="group" aria-label="Attend or cancel">
            <input type="submit" class="btn btn-success" aria-label="Attend Event" value="Attend Event"/>
            <a href="#!" class="btn btn-danger" aria-label="Cancel" role="button" data-toggle="collapse" data-target=".TxtArea{{event.id}}, #vanish{{event.id}}">Cancel</a>
        </div>
    </div>
</form>