{% extends "base.html" %}
{% block title %} View Event {% endblock %}
{% block pagename %}{{event}}{% endblock %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title lg-title fixed-info">{{event.name}}</h1>
      <h4>{{event.time}} at {{event.place}} on {{event.date}}</h4>
      {% comment %}{% if user and not user.is_anonymous %}
        {% if not user in event.users %}
          {% if event.signed_up.count < event.max_attendees %}
            <div style="width:150px" class=".TxtArea{{event.id}} collapse in" id="vanish{{event.id}}"><a href="#" class="btn btn-success" role="button" aria-label="Attend Event" data-toggle="collapse" data-target=".TxtArea{{event.id}}, #vanish{{event.id}}">Attend Event</a></div>
          {% else %}
            <!-- Add to sub waitlist buddon -->
          {% endif %}  
        {% else %}
          {% if event.signed_up.count > event.min_attendees or not event.locked %}
            {% include 'events/leave.html' with event=event user=user %}
          {% else %}
            <!-- Request a sub buddon -->
          {% endif %}
        {% endif %}
      {% endif %} 
      {% include "events/attend.html" with event=event user=user %}
      {% endcomment %}
      {% include "events/attendance.html" with event=event user=user date=date %}
    </div>
    <div class="panel-body fixed-panel">
          {{event.desc}}
    </div>
  
    <!-- Table of Users attending -->
    <div class="row">
      <div class="col-xs-12">
        <table class="table">
          <th><u>Attending:</u></th>
          {% for user in event.attending %}
            <tr><td>
              {% if user.first_name and user.last_name %}
              {{user.first_name}} {{user.last_name}}
              {% else %}
              {{user}}
              {% endif %}
            </td></tr>
          {% endfor %}
        </table> 
      </div>
    </div>
    <div class="row">
    </div>
  </div>
  <div class="row">
  {% for image in event.image_set.all %}
  <div class = "col-xs-12 col-sm-6 col-md-4">
    <img src="{{image.image.url}}" class="detImg"/>
    <h4 class="fixed-info">{{image.caption}}</h4>
  </div>
  {% endfor %}
  </div>
{% endblock %}