chardet==2.2.1
colorama==0.2.5
decorator==3.4.0
defer==1.0.6
defusedxml==0.4.1
Django==1.8.3
html5lib==0.999
ipython==1.2.1
numpy==1.8.2
oauthlib==1.0.3
Pillow==3.0.0
pycurl==7.19.3
pygobject==3.12.0
PyJWT==1.4.0
python-apt===0.9.3.5ubuntu1
python-social-auth==0.2.12
python3-openid==3.0.7
requests==2.7.0
requests-oauthlib==0.5.0
scipy==0.13.3
simplegeneric==0.8.1
six==1.9.0
unattended-upgrades==0.1
urllib3==1.7.1
virtualenv==13.1.2
wheel==0.24.0