.clickable-row{
    cursor:pointer;
}

.fixed-panel {
    min-height: 100;
    max-height: 200;
    overflow-y: scroll;
}

.lg-title {
    font-size:36px !important;
}

.borderless td, .borderless th {
    border:none !important;
    padding:0px !important;
}

@media screen and (min-width: 768px) {
    .btn-social {
        margin-top: 8px;
    }
}

body {
    font-family: 'Exo 2', sans-serif !important; 
}