.clickable-row{
    cursor:pointer;
}

.fixed-panel {
    min-height: 100;
    max-height: 100;
    overflow-y: auto;
}

.fixed-info {
    min-height: 50;
    max-height: 50;
    overflow-y: auto;
}

.lg-title {
    font-size:24px !important;
    overflow-x: auto;
}

.borderless td, .borderless th, .borderless div {
    border:none !important;
    padding:0px !important;
}

.d{
    display: none !important;
}

.sort-bar.btn-group{
    display: inherit !important; 
    width: 100%;
}

@media screen and (min-width: 768px) {
    .btn-social {
        margin-top: 8px;
    }
    .d {
        display: table-cell !important;
    }
    .m{
        display: none;
    }
}

body {
    font-family: 'Exo 2', sans-serif; 
}

.detImg{
    height: 300px;
    width: 100%;
}    

#bannerImg{
    width: 100%;
    height: auto;
}

body {
    background-color: #FAFAFA;
}

.fixed-title {
    min-height: 70;
    max-height: 70;
    overflow-x: auto;
}

.highlighted{
    background-color: #DDDDDD;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons img{
  width: 32px;
}

.center {
    margin: auto;
    width: 99%;
    padding: 10px;
}